body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(/assets/images/compass-near-old-maps.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: auto;
    height: auto;
}

h1 {
    color: white;
    text-shadow: 3px 3px darkslategrey;
    text-align: center;
    font-size: 300%;
}

#question {
    text-align: center;
    position: relative;
    top: 3.5em;
    font-size: 2em;
    background-color: white;
    opacity: 80%;
    border-radius: 15px;
    background-size: contain;
}

#options {
    text-align: center;
    position: relative;
    top: 10em;
}

button {
	padding: 20px;
	margin: 50px 50px 0 50px;
	width: 300px;
	border: none;
	border-radius: 10px;
	font-size: 1.5em;
	cursor: pointer;
    border: 1px solid black;
}

button:hover {
    border: 3px solid black;
}

#score-board {
    position: absolute;
    bottom: 5px;
    background-color: white;
    opacity: 80%;
    border-radius: 10px;
    width: 90px;
    font-size: 140%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#score {
    color: green;
}

@media only screen and (max-width: 1100px) {
    h3 {
        font-size: 1.1em;
    }

    button {
        width: 200px;
        font-size: 1em;
    }

    #options {
        top: 8em;
    }

    #score-board {
        font-size: 100%;
    }

}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 200%;
    }

    #question {
        font-size: 1em;
    }

    button {
        font-size: 0.8em;
        width: 150px;
        padding: 9px;
    }

    #options {
        top: 5em;
    }

}

@media only screen and (max-width: 521px) {
    button {
        top: 0;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #question {
        font-size: 1em;
    }
}