body {
    font-family: Arial, sans-serif;
    background-image: url(/assets/images/compass-near-old-maps.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    height: auto;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px darkslategrey;
}

h3 {
    float: left;
}

#options {
    text-align: center;
}

button {
	padding: 10px;
	margin: 10px;
	width: 200px;
	background-color: ;
	border: none;
	border-radius: 10px;
	font-size: 1.2em;
	cursor: pointer;
}

#total-score {
    position: absolute;
    bottom: 0;
}